package ${package}.modules.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import com.daxiongys.common.model.BaseDO;
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end

/**
 * ${comments}
 *
 * @date ${datetime}
 * @author ${author} ${email}
 * @version ${version}
 */
@Data
@TableName("${tableName}")
@EqualsAndHashCode(callSuper = true)
public class ${className} extends BaseDO<${className}> {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnName != 'id')
	/**
	 * $column.comments
	 */
	private $column.attrType $column.attrname;
#end
#end
}